*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}

body{
  width: 100%;
  height: 565px;
  //height: 100vh;
  background: url('../assets/hero.gif') no-repeat 100%/cover;
  background-position: -1px -129px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//HEADER
.header_container{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header_logo_container{
  width: 12.5%;
  display: flex;
  justify-content: flex-end;
}


.header_logo{
  width: 4.125rem;
  
  }

  .header_nav_bar{
    width: 33%;
  }
.header_nav_bar_item{
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.header_nav_bar_item:hover{
  border: solid 0.03rem white;
  border-radius: 0.3rem;
}
// SECTION
.sectionInitial{
  width: 100%;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    
  
  //flex-direction: column;
    &_containerForm{
      width: 32%;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 17px;
  }
}
.sectionInitial.is-open{
  display: flex;
}

.sectionInitial_boxButton--become:hover {
  background-color: #FF00BF;
  border-color: #FF00BF;
  color:white
}

.sectionInitial_input{
  border-top: none;
    border-left: none;
    border-right: none;
    width: 284px;
}


.containerInformation{
  transform: translateX(-18px) translateY(406px);
    background-image: linear-gradient(#76278F, #2B1E66);
    width: 100vw;
    height: 618px;
    filter: blur(6px);
    box-shadow: 70px 8px 51px #9659a9;
    position: inherit;
}

.tittle{
  font-size: 18px;
  padding-bottom: 10px;
}

.information{
  position: absolute;
  z-index: 999;
  transform: translateX(117px) translateY(-112px);
  width: 85%;
  display: flex;
  color: #fff;
}

.text{
  width: 50%;
  width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.phone{
  height: 430px;
}
